.popover
{
	display: table;
}

.carousel-indicators-numbers li 
{
  text-indent: 0;
  margin: 0 2px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 100%;
  line-height: 30px;
  color: #fff;
  background-color: #999;
  transition: all 0.25s ease;
  text-align: center;
  cursor: pointer;
}

.carousel-indicators-numbers li.active, .carousel-indicators-numbers li:hover 
{
  margin: 0 2px;
  width: 30px;
  height: 30px;
  background-color: #337ab7;
  cursor: pointer;
}

.carousel-control-prev:focus:not(:hover)
{
	opacity: 0.5;
}

.carousel-control-next:focus:not(:hover)
{
	opacity: 0.5;
}

.disabled-control-next
{
    position: absolute;
    display: flex;
    height: 100%;
    width: 15%;
    left: -15%;
    top: 0%;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.125) 99%,rgba(0,0,0,0.125) 100%) no-repeat center center;
}

.disabled-control-prev
{
    position: absolute;
    display: flex;
    height: 100%;
    width: 15%;
    right: -15%;
    top: 0%;
    background: linear-gradient(to right, rgba(0,0,0,0.125) 0%,rgba(0,0,0,0.125) 1%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%) no-repeat center center;
}

.carousel-control-next-icon
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 40px;
    height: 40px;
}

.carousel-control-prev-icon
{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23aaa' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    width: 40px;
    height: 40px;
}